/* reset */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* variables */

:root {
    --primary-color: #ff5722;
    --secondary-color: #fff6f2;
    --secondary-color-dark: #ffa589;
    --secondary-color-medium: #ff7a50;
    --nav-color: #f8f8f8;
    --heading-color: #000;
    --text-color-ligth: #333333;
    --text-color: #3333;
    --gray-light: #acacac;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    color: var(--body-color);
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}

.container {
    padding: 5% 10%;
}

.copy-right {
    color: var(--gray-light);
}

.display-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .display-desktop {
        display: block;
    }
    .display-phone {
        display: none;
    }
}

.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 2.1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--white-color);
}

.btn-block {
    width: 100%;
}

.btn--primary {
    background-color: var(--primary-color);
}

.btn--secondary {
    background-color: var(--secondary-color-dark);
}

.btn--passengar {
    border: 2px solid var(--white-color);
    background-color: var(--white-color);
}

.btn--passengar a {
    color: var(--heading-color);
}

.btn--driver {
    border: 2px solid var(--white-color);
    background-color: transparent;
}

.btn--driver a {
    color: var(--white-color);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
        padding: 1rem 2.4rem;
    }
    .btn-block {
        font-size: 2rem;
    }
}

.badge {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 32rem;
    padding: 0.3rem 1.2rem;
    border: 2px solid var(--primary-color);
}

.badge--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.badge--secondary {
    background-color: var(--white-color);
    color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}

.list {
    list-style: none;
    font-size: 1.6rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-left: 2rem;
}

.list--tick .list__item {
    padding-right: 3rem;
    margin-bottom: 3rem;
    background-image: url("./../assets/images/Tick-Square.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

@media screen and (min-width: 1024px) {
    .list {
        font-size: 1.8rem;
    }
}

.card-container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
}

.card {
    position: relative;
    height: 61.9rem;
    width: 31.1rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--secondary-color);
    /* box-shadow: 5px 5px 15px var(--text-color-ligth); */
}

.card--primary {
    top: 0;
}

.card__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18.4rem;
    color: var(--white-color);
    padding: 2rem 2rem 1rem;
    font-size: 1.4rem;
}

.card--secondary .card__heading {
    background-color: var(--secondary-color-dark);
}

.card--primary .card__heading {
    background-color: var(--secondary-color-medium);
}

.card__heading-entry {
    display: flex;
    justify-content: space-between;
}

.card__heading-price span {
    font-size: 3rem;
}

.card__body {
    height: 43.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem 2rem 5.6rem;
}

@media screen and (min-width: 1024px) {
    .card-container {
        padding-top: 10rem;
        grid-template-columns: repeat(3, 1fr);
        gap: calc((100% - (31.1rem * 3)) / 2);
    }
    .card--primary {
        top: -6rem;
    }
    .card__heading {
        font-size: 1.6rem;
    }
}

.featured-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
}

.featured-item {
    display: grid;
    grid-template-areas: "img" "text";
    row-gap: 3rem;
}

.featured-item__img {
    grid-area: img;
    width: 95%;
    justify-self: center;
    object-fit: cover;
}

.featured-item__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 1024px) {
    .featured-item {
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-template-areas: "text img";
        column-gap: 3.5rem;
    }
    .featured-item:last-child {
        grid-template-columns: 3fr 4fr;
        grid-template-areas: "img text ";
    }
    .featured-item__img {
        width: 100%;
    }
    .featured-item__text {
        height: 100%;
        justify-content: center;
    }
}

.service-section {
    overflow-x: hidden;
}

.service-icon__list {
    width: 71rem;
    height: 9rem;
}

.service-icon__item {
    width: 7rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    cursor: pointer;
}

.service-icon__item:not(:last-child) {
    margin-left: 2rem;
}

.service-icon__img {
    width: 100%;
    object-fit: cover;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.service-discription__text p {
    margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
    .service-description {
        flex-direction: row;
        gap: 6rem;
    }
    .service-description__img {
        width: 45%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--nav-color);
}

.tap30-logo {
    height: 2.1rem;
}

.navigation__logo {
    width: 10%;
}

.navigation__link {
    width: 50%;
    display: flex;
}

.navigation__link-list {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 12.5rem);
}

.navigation__btn {
    width: 12.5rem;
}

.navigation__toggle {
    position: relative;
}

.navigation__toggle::before,
.navigation__toggle::after,
.navigation__toggle {
    width: 2.5rem;
    height: 3px;
    background-color: #000;
}

.navigation__toggle::before,
.navigation__toggle::after {
    content: "";
    position: absolute;
}

.navigation__toggle::before {
    top: 1rem;
}

.navigation__toggle::after {
    bottom: 1rem;
}

header {
    background-image: url("./../assets/images/banner-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 52rem;
    position: relative;
}

.header-content {
    width: 27rem;
    padding: 2.5rem;
    background-image: linear-gradient( 51deg, rgba(23, 26, 60, 0.7) 5%, rgba(23, 26, 60, 0.3) 95%);
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-40%, -10%);
}

.header-content h1,
h2 {
    color: var(--white-color);
}

.buttons-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.buttons-box .btn i {
    padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
    header {
        height: 54rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--heading-color);
    color: var(--white-color);
}

footer>* {
    font-size: 1.4rem;
    line-height: 3.5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

footer a,
footer h3 {
    color: var(--white-color);
}

footer h6 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer__link-col {
    display: flex;
    flex-direction: column;
}

.footer__trust-col {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.trust-item {
    background-color: var(--white-color);
    border-radius: 1.2rem;
    max-width: 12rem;
    padding: 2rem 0;
}

.trust-item img {
    width: 100%;
}

.social-media-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-media-icons i {
    font-size: 2.5rem;
    color: var(--gray-light);
}

.social-media-icons i:hover {
    color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .footer-content:nth-child(1) {
        flex-direction: row;
    }
    .social-media-icons {
        justify-content: flex-start;
        gap: 2rem;
    }
}