/* reset */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


/* variables */

:root {
    --primary-color: #ff5722;
    --secondary-color: #fff6f2;
    --secondary-color-dark: #ffa589;
    --nav-color: #f8f8f8;
    --heading-color: #000;
    --text-color-ligth: #333333;
    --text-color: #3333;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--body-color);
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}

.btn {
    outline: 0;
    border: 0;
    padding: 2.4rem 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--white-color);
}

.btn-block {
    width: 100%;
}

.btn--primary {
    background-color: var(--primary-color);
}

.btn--secondary {
    background-color: var(--secondary-color-dark);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
        padding: 1rem 2.4rem;
    }
    .btn-block {
        font-size: 2rem;
    }
}

.badge {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 32rem;
    padding: 0.4rem 1.2rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.badge--secondary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}