<footer class="container">
    <div class="footer-content">
        <div class="footer__brand-col">
            <img src="./assets/images/tapsi-logo-white.svg" alt="tapsi logo" class="footer-logo" />
            <h3>اپلیکیشن درخواست خودرو و پیک</h3>
            <p class="copy-right display-desktop">
                تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
            </p>
        </div>
        <div class="footer__link-col">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت انسانی</a>
        </div>
        <div class="footer__link-col">
            <h6>مسافران</h6>
            <a href="#">دانلود اپ مسافر</a>
            <a href="#">نسخه وب تپسی</a>
            <a href="#">پرسش های متدوال مسافران</a>
            <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="footer__link-col">
            <h6>رانندگان</h6>
            <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
            <a href="#">دانلود اپ سفیر</a>
            <a href="#">پرسش های متداولسفیران</a>
            <a href="#">باشگاه سفیران</a>
        </div>
        <div class="footer__link-col">
            <h6>کسب و کارها</h6>
            <a href="#">پنل سازمانی</a>
            <a href="#">خرید کد اعتبار و تخفیف</a>
            <a href="#">API دریافت</a>
            <a href="#">شرایط و قوانین</a>
        </div>
        <div class="footer__trust-col">
            <div class="trust-item">
                <img src="./assets/images/logo-etehadiyeh.png" alt="logo etehadiyeh" />
            </div>
            <div class="trust-item">
                <img src="./assets/images/logo-samandehi.png" alt="logo samandehi" />
            </div>
            <div class="trust-item">
                <img src="./assets/images/logo-enemad.png" alt="logo enemad" />
            </div>
        </div>
    </div>
    <div class="footer-content">
        <h3>تپسی در شبکه های اجتماعی</h3>
        <div class="social-media-icons">
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-facebook-square"></i>
        </div>
    </div>
    <p class="copy-right display-phone">
        تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
    </p>
</footer>