<header>
    <div class="header-content">
        <h1>تپسی</h1>
        <h2>اپیکیشن درخواست خودرو</h2>
        <div class="buttons-box">
            <button class="btn btn--passengar">
        <a href="#">
          <i class="fa-solid fa-arrow-down"></i>دانلود اپلیکیشن مسافران
        </a>
      </button>
            <button class="btn btn--passengar">
        <a href="#">
          <i class="fa-regular fa-car-mirrors"></i> وب اپلیکیشن مسافران
        </a>
      </button>
            <button class="btn btn--driver">
        <a href="#">
          <i class="fa-solid fa-arrow-down"></i>دانلود اپلیکیشن رانندگان
        </a>
      </button>
            <button class="btn btn--driver">
        <a href="#">
          <i class="fa-regular fa-car-mirrors"></i> ثبت نام راننده
        </a>
      </button>
        </div>
    </div>
</header>