<nav>
    <div class="navigation__container">
        <div class="navigation__logo">
            <img class="tap30-logo" src="./assets/images/logo.svg" />
        </div>
        <div class="navigation__link">
            <ul class="navigation__link-list">
                <li>پشتیبانی</li>
                <li>معرفی راننده ها</li>
                <li>خدمات کسب و کارها</li>
                <li>فرصت های شغلی</li>
                <li>وبلاگ</li>
            </ul>
            <div class="navigation__link-btn">
                <button class="btn btn--primary">دانلود تپسی</button>
            </div>
        </div>
    </div>
    <div class="navigation__toggle">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
    </div>
</nav>