<div class="tap30Plus">
    <div class="tap30Plus__text">
        <h3>تپسی پلاس</h3>
        <p>
            در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر کمتر،به دنبال سما خواهد آمد.همچنین، رانندگان این سرویس بالاترین امتیاز را از مسافران دریافت کرده اند. در این سر.یس که در حال حاضر در تهران فعال است، امکان تعیین جند مقصد با توقف در حین مسیر
            وجود دارد
        </p>
    </div>
    <img src="https://tapsi.ir/images/home/illus-classic.webp alt=" "
  class="tap30Plus__img ">
</div>